<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'styles' %>
  <%= javascript_include_tag 'search' %>
</head>
<body>

<div id="searchContainer">
  <div id="searchText">JSON Search</div>
  <%= text_field_tag :query, params[:query], id: 'searchInput', placeholder: 'Type to search...' %>
</div>

<div id="searchResults">
</div>

</body>
</html>
