<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'styles' %>
  <%= javascript_include_tag 'search' %>
  <title>JSON Search</title></head>
<body>

  <div id="searchContainer">
    <div id="searchText">JSON Search</div>
    <%= text_field_tag :query, params[:query], id: 'searchInput', placeholder: 'Type to search...' %>
    <div id="searchResults"></div>
  </div>

</body>
</html>
